<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SchedulerCustomInplaceEditor.Properties.Settings.ScheduleTestConnectionString"
            connectionString="Data Source=.\MSSQLSERVER2008;Initial Catalog=ScheduleTest;Persist Security Info=True;User ID=sa;Password=dx"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>